fastapi[standard]==0.115.5
google-auth-oauthlib==1.2.1
pyTelegramBotAPI==4.24.0
itsdangerous==2.2.0
firebase-admin==6.6.0
aiohttp[speedups]==3.11.11
pytz==2024.2
PyJWT==2.10.0
pydantic-settings==2.8.1